
.full-hero {
   height: 43vh;
   width: 1350px;
    background-color: lightblue;

}

.bio-box {
    border: 1px solid black;
    float: left;
    font-size: 1rem;
    padding: 0 2% 2%;
    width:  21%;    
    box-sizing: border-box;
    margin: 40px 1% 0;
}

.bio-box img {
    width: 100%;
}
.bio-box h3 {
color: #fff;
font-size: 1.5em;
margin: -40px 0 1em;
text-align: center;
box-sizing: border-box;
}
.bio-wrapper {
   background-color: #c0e0c3;
    font-size: 24px;
   margin: auto;
   max-width: 960px;
    

}
.bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " "; 
    clear: both;
    height: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;

}
.social-list > li {
    display: inline-block;
    background: pink;
    min-width: 3.5em;
    min-height: 3.5em;
    border-radius: 100%;
    padding: 1.5% 0 0 0;
    box-sizing: border-box;
    font-size: 1.5 em;
    line-height: 1;
}

.social-list a {
    text-decoration: none;
    
}
